temp/c89982d4-cac6-4bca-9bc0-de37d0cee380_test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/test"
           xmlns:tns="http://example.com/test">
  <xs:element name="TestElement" type="xs:string"/>
  <xs:complexType name="TestType">
    <xs:sequence>
      <xs:element name="field1" type="xs:string"/>
      <xs:element name="field2" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>